<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.study.mapper.DepartmentMapper">
    <!--保存部门-->
    <insert id="save" parameterType="Department" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        insert into t_department
        (sn,name,dirPath,state,manager_id,parent_id,tenant_id) values
        (#{sn},#{name},#{dirPath},#{state},#{manager.id},#{parent.id},#{tenant.id})
    </insert>

    <!--移除部门-->
    <delete id="remove" parameterType="long">
        delete from t_department where id = #{id}
    </delete>

    <!--修改部门-->
    <update id="update" parameterType="Department">
        update t_department set
        sn = #{sn},name = #{name},dirPath = #{dirPath},state = #{state},
        manager_id = #{manager.id}, parent_id = #{parent.id}, tenant_id = #{tenant.id}
        where id = #{id}
    </update>

    <!--通过id查找部门-->
    <select id="loadById" parameterType="long" resultType="Department">
        select * from t_department where id = #{id}
    </select>

    <!--加载所有部门-->
    <select id="loadAll" resultType="Department">
        select * from t_department
    </select>


    <!--高级查询-->
    <!--把第一个and变成where-->
    <!--keywords 作用于sn 和 name字段-->
    <sql id="whereSql">
        <where>
            <if test="keywords != null and keywords != ''">
                and (d.sn like concat('%',#{keywords},'%') or d.name like concat('%',#{keywords},'%'))
            </if>
        </where>
    </sql>
    <select id="queryCount" parameterType="DepartmentQuery" resultType="long">
        select count(*) from t_department d
        <include refid="whereSql"/>
    </select>


    <select id="queryData" parameterType="DepartmentQuery" resultMap="DepartmentMap">
        select d.id,d.sn,d.name,d.dirPath,d.state,
               e.id eid,e.username,
               p.id pid,p.name pname,
               t.id tid,t.companyName
        from t_department d
        left join t_employee e on d.manager_id = e.id
        left join t_department p on d.parent_id = p.id
        left join t_tenant t on d.tenant_id = t.id
        <include refid="whereSql"/>
        limit #{start},#{pageSize}
    </select>
    
    <resultMap id="DepartmentMap" type="Department">
        <!--基本信息-->
        <id property="id" column="id"></id>
        <result property="sn" column="sn"></result>
        <result property="state" column="state"></result>
        <result property="name" column="name"></result>
        <result property="dirPath" column="dirPath"></result>

        <!--关联信息-->
        <association property="manager" javaType="Employee">
            <id property="id" column="eid"></id>
            <result property="username" column="username"></result>
        </association>
        
        <association property="parent" javaType="Department">
            <id property="id" column="pid"></id>
            <result property="name" column="pname"></result>
        </association>
        
        <association property="tenant" javaType="Tenant">
            <id property="id" column="tid"></id>
            <result property="companyName" column="companyName"></result>
        </association>
    </resultMap>
    
</mapper>
